<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardAttachMapper">

    <insert id="insert">
        INSERT INTO tbl_attach (uuid, uploadpath, filename, filetype, bno)
        VALUES (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, ${bno})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_attach WHERE uuid = ${uuid}
    </delete>

    <select id="findByBno" resultType="domain.BoardAttachVO">
        SELECT * FROM tbl_attach WHERE bno = ${bno}
    </select>

    <delete id="deleteAll">
        DELETE FROM tbl_attach WHERE bno = #{bno}
    </delete>

    <select id="getOldFiles" resultType="domain.BoardAttachVO">
        SELECT * FROM tbl_attach WHERE uploadpath = TO_CHAR(sysdate - 1, 'yyyy\mm\dd')
    </select>
</mapper>