<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title LIKE '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content LIKE '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer LIKE '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="getList" resultType="domain.BoardVO">
        <![CDATA[
            SELECT * FROM tbl_board WHERE bno > 0
        ]]>
    </select>

    <!--
    <select id="getListWithPaging" resultType="domain.BoardVO">
        <![CDATA[
            SELECT bno, title, content, writer, regdate, updatedate
            FROM (
                SELECT /*+ INDEX_DESC(tbl_board pk_board) */
                ROWNUM rn, bno, title, content, writer, regdate, updatedate
                FROM tbl_board
                WHERE ROWNUM <= #{pageNum} * #{amount}
            )
            WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>
    -->

    <select id="getListWithPaging" resultType="domain.BoardVO">
        <![CDATA[
            SELECT bno, title, content, writer, regdate, updatedate, replycnt
            FROM (
                SELECT /*+ INDEX_DESC(tbl_board pk_board) */
                ROWNUM rn, bno, title, content, writer, regdate, updatedate, replycnt
                FROM tbl_board WHERE
        ]]>

        <include refid="criteria"></include>

        <![CDATA[
            ROWNUM <= #{pageNum} * #{amount}
            )
            WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <select id="insert">
        INSERT INTO tbl_board (bno, title, content, writer)
        VALUES (seq_board.NEXTVAL, #{title}, #{content}, #{writer})
    </select>

    <insert id="insertSelectKey">

        <selectKey keyProperty="bno" order="BEFORE"
                   resultType="long">
            SELECT seq_board.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO tbl_board (bno, title, content, writer)
        VALUES (#{bno}, #{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="domain.BoardVO">
        SELECT * FROM tbl_board WHERE bno = #{bno}
    </select>

    <delete id="delete">
        DELETE tbl_board WHERE bno = #{bno}
    </delete>

    <update id="update">
        UPDATE tbl_board
        SET title = #{title},
        content = #{content},
        writer = #{writer},
        updateDate = SYSDATE
        WHERE bno = #{bno}
    </update>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_board WHERE

        <include refid="criteria"></include>

        bno > 0
    </select>

    <select id="updateReplyCnt">
        UPDATE tbl_board SET replycnt = replycnt + #{amount} WHERE bno = #{bno}
    </select>
</mapper>